@tailwind base;
@tailwind components;
@tailwind utilities;

.typing-effect {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #ff79c6; /* Kursor */
  animation: typing 6s steps(20, end) infinite, blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0; /* Awal animasi (tidak ada teks terlihat) */
  }
  50% {
    width: 26.5ch; /* Panjang teks "from toni import portfolio" */
  }
  80% { /* Perpanjang durasi saat mentok */
    width: 26.5ch; /* Tetap pada panjang maksimal untuk sementara */
  }
  100% {
    width: 0; /* Animasi reverse kembali ke awal */
  }
}
  
@media screen and (max-width: 768px) {
  nav button {
    min-width: 48px; /* Pastikan ukuran tombol cukup besar */
    min-height: 48px;
  }
}


@media screen and (max-width: 768px) {
  body {
    margin: 0; /* Pastikan tidak ada margin global */
    padding: 0; /* Hilangkan padding default jika ada */
  }

  .container, .content, .wrapper {
    padding: 0 16px; /* Tambahkan padding di sisi kiri dan kanan */
    box-sizing: border-box; /* Pastikan padding tidak menambah lebar elemen */
  }

  img, iframe {
    max-width: 100%; /* Pastikan gambar atau elemen media tidak melampaui lebar layar */
    height: auto;
  }

  section {
    margin: 0 auto; /* Tengah-kan elemen */
    padding: 8px 16px; /* Sesuaikan padding untuk konten */
  }
}

@media screen and (max-width: 768px) {
  body {
    zoom: 0.8;
  }
}


@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #ff79c6;
  }
}

/* Warna khusus untuk kata "toni" dan "portfolio" */

.from {
  color: #ff79c6;
}
.toni {
  color: #ffffff;
}
.import {
  color: #ff79c6;
}
.portfolio {
  color: #ffffff;
}

.text-dracula-keyword {
    color: #ff79c6;
  }
  
